
p {
    margin-left: 5px;
    margin-top: 15px;
    width: 100%;
    font-weight: 350;
    max-width: 60vw;
    font-size: max(14px, 0.65vw);
    padding-left: 5vw;
}
#bQheadImg {
    width:80%;
    padding-bottom: 10vh;
    bottom: 0;
    margin-left: 15%;
    position: absolute;
    z-index: -2;
}

#bQDiv {
    height: 100vh;
    width: 95vw;
    position: relative;
}

#bQmain {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}

#drawEHeader {
    overflow: hidden;
    z-index: -100;
}
#bQSubHead, #bQName {
    font-weight: 600;
    font-size: max(16px, 0.75vw);
    margin-top: 1vw;
}

#bQName {
    padding-left: 0vw;
}

#bQHeadText {
    position: absolute;
    margin-left: 12vw;
    margin-top: 15vh;
    max-width: 68ch;
}

#bQContent1, #bQContent {
    margin-left: 12vw;
    overflow: hidden;
}

#bQVid {
    width: 65vw;
    margin-left: 5vw;
    margin-top: 5vh;
}

#graph {
    width: 45vw;
    margin-left: 15vw;
    margin-top: 5vh;
}

#break {
    height: min(2vh,30px);
}




#bQTitle{
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: max(28px,1.5vw);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 60vw;
    margin-left: 7.5vw;
  }
  
.video-row {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
.video-thumbnail {
    cursor: pointer;
    width: 15vw;
  }
  
.video-player {
    width: 60vw;
  }

#vidthumb {
    width: 12vw;
}

#selected-video {
    width: 60vw;
    margin-left: 0vw;
    margin-top: 2vh;
}

#bdArrow
{
    width: 2vw;
}

#copyrightb {
    margin-left: 12vw;
    color: var(--lGrey);
    font-size: calc(6px+0.4vw);
    margin-top: 20px;
}


@media only screen and (max-width: 1000px) {
    #bQTitle{
        font-family: 'Arial', sans-serif;
        font-weight: 600;
        font-size: max(25px,3.5vh);
    }
    #bQheadImg {
        width:120%;
        padding-bottom: 12vh;
        bottom: 0;
        margin-left: -30%;
        position: absolute;
        z-index: -2;
        overflow: hidden;
    }
    #bQContent1, #bQContent {
        margin-left: 4vw;
        overflow: hidden;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        width: 80vw;
        margin-left: 6vw;
      }
    #bQVid {
        width: 80vw;
        margin-left: 5vw;
        margin-top: 5vh;
    }
    .video-row {
        display: flex;
        justify-content: center;
        gap: 10px;
      }
      
    .video-thumbnail {
        cursor: pointer;
        width: 25vw;
      }
      
    .video-player {
        width: 80vw;
      }
    
    #vidthumb {
        width: 25vw;
    }
    
    #selected-video {
        width: 80vw;
        margin-left: 0vw;
        margin-top: 2vh;
    }
    #bQHeadText {
        position: absolute;
        margin-left: 12vw;
        margin-top: 15vh;
        max-width: min(68ch,75vw);
    }
    p {
        max-width: 80vw;
    }
    #copyrightb {
        margin-left: 4vw;
        color: var(--lGrey);
        font-size: calc(6px+0.4vw);
        margin-top: 20px;
    }
    
  }
