:root
{
    --dGrey: #191818;
    --lGrey: #616161;
    --mGrey: #303030;
    --mlGrey: #424242;

    --headerHeight: 70px;
}
body
{
    margin: 0;
    color: var(--dGrey);
}
    
header
{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: var(--headerHeight);
    width: 100%;
    top: 0;

}

p
{
    font-weight: 600;
    font-size:14px;
}

#navBar
{
    margin-left: 5%;
    margin-right: 5%;
}
#name
{
    float: left;
    color: var(--dGrey);
    font-size: 18pt;
    text-align: left;
    margin-top: 15px;
}

a
{
    text-decoration: none;
    color: inherit;
}

#smallNav
{
    float: right;
    text-align: right;
    color: var(--lGrey);
    font-size: 12pt;
    margin-top: 21px;
}

.smallNavLink
{
    margin-left: 20px;
}
.smallNavLinkSelect
{
    margin-left: 20px;
    color: var(--dGrey);
}

#vidStrip
{
    position: relative;
    width: 100%;
    height: calc(100vh - var(--headerHeight));
    align-items: centre;
    overflow: hidden;
    background-color: var(--dGrey);
    
}

#headerVid
{
    position: relative; 
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 25%;
}


main
{
    font-family: 'Open Sans', sans-serif;
    font-stretch: semi-expanded;
}

#gallerybar
{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 14pt;
    text-align: center;
}
#intro
{
    position: absolute;
    color: white;
    margin-top: 30vh;
    margin-left: calc((100vw - 700px) /2);
    z-index: 100;
    text-align: center;
    opacity: 90%;
}

h1
{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;

}

#dArrowDiv
{
    position: absolute;
    z-index: 100;
    margin-top: calc(100vh - 4vw - var(--headerHeight));
    margin-left: 48.5vw;
}

#dArrow
{
    width: 3vw;
    opacity: 30%;
}

#aboutMe
{
    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: calc(var(--headerHeight)+6vh);
    text-align: center;
}
#pPic
{
    float: left;
    width: 30vw;
}
#bio
{
    margin-left: 34vw;
    padding-top: 5vw;
    text-align: center;
}

button
{
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: var(--mGrey);
    border-radius: 5px;
    width: 55px;
    height: 30px;
    text-decoration: none;
    border: none;

}

button:hover
{
    background-color: var(--mlGrey);
    cursor: pointer;
}