:root
{
    --dGrey: #191818;
    --lGrey: #696969;

    --headerHeight: 70px;
}
body
{
    margin: 0;
}
    
header
{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: var(--headerHeight);
    width: 100%;
    top: 0;
}

#navBar
{
    margin-left: 5%;
    margin-right: 5%;
}
#name
{
    float: left;
    color: var(--dGrey);
    font-size: 20pt;
    text-align: left;
    margin-top: 15px;
}

a
{
    text-decoration: none;
    color: inherit;
}

#smallNav
{
    float: right;
    text-align: right;
    color: var(--lGrey);
    font-size: 14pt;
    margin-top: 21px;
}

.smallNavLink
{
    margin-left: 20px;
}

#vidStrip
{
    position: relative;
    width: 100%;
    height: calc(100vh - var(--headerHeight));
    align-items: centre;
    overflow: hidden;
    background-color: black;
    
}

#headerVid
{
    position: relative; 
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 15%;
}


main
{
    font-family: 'Open Sans', sans-serif;
}

#gallerybar
{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
    text-align: center;
}
#intro
{
    position: absolute;
    color: white;
    margin-top: 30vh;
    margin-left: calc((100vw - 835px) /2);
    z-index: 100;
    text-align: center;
    opacity: 90%;
}

#introText
{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
}