#drawEHeadImg {
    width:100%;
    margin-top: -10vw;

}

#drawEHeader {
    overflow: hidden;
    z-index: -100;
}

#drawEHeadText {
    position: absolute;
    margin-left: 12vw;
    margin-top: 15vw;
}

#deContent {
    width: 100%;
    overflow: hidden;
}

#drawEVid, #drawEDev {
    width: 79vw;
    margin: 1vw 10vw;
}

