#feaHeadImg {
    width:100%;
    margin-top: -6vw;
}

#feaHeader {
    overflow: hidden;
    z-index: -100;
    height: 38vw;
}

#feaHeadText {
    position: absolute;
    margin-left: 12vw;
    margin-top: 29vw;
    margin-bottom: 10vh;
}

.feaPic {
    width: 65vw;
    margin-left: 17.5vw;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.feaPicN {
    width: 45vw;
    margin-left: 27.5vw;
    margin-top: -3vh;
    margin-bottom: 4vh;
}