:root
{
    --dGrey: #191818;
    --lGrey: #6e6e6e;
    --mGrey: #303030;
    --mlGrey: #424242;

    --headerHeight: 65px;
    --footerHeight: 50px;
}

#junoHeadImg {
    width:100%;
    margin-top: 0vw;
}

#junoHeader {
    overflow: hidden;
    z-index: -100;
    height: max(43vw, calc(99vh - var(--headerHeight)));
}

#junoHeadText {
    position: absolute;
    margin-left: 12vw;
    margin-top: 27vw;
}


.junoImg {
      width: 78vw;
      margin-left: 10vw;
      margin-bottom: calc(40px + 1vh);
      margin-top: calc(30px + 1vh);
  }
