:root
{
    --dGrey: #191818;
    --lGrey: #6e6e6e;
    --mGrey: #303030;
    --mlGrey: #424242;

    --headerHeight: 65px;
    --footerHeight: 50px;
}


#landscapeImg {
    height: calc(80vh - var(--headerHeight));
    margin-left: calc(50vw - 55vh);
    margin-top: 5vh;
}
#portraitImg {
    height: calc(80vh - var(--headerHeight));
    margin-left: calc(50vw - 27vh);
    margin-top: 20px;
}

.carousel-item {
    height: calc(100vh - var(--headerHeight));
}

.carousel-control-prev-icon {
    background-image: url("../content/symbols/lArrow.svg");
    background-size: 70%;
    margin-left: 13vw;
    margin-top: -15vh;
   }
   
.carousel-control-next-icon {
     background-image: url("../content/symbols/rArrow.svg");
     background-size: 70%;
     margin-left: -13vw;
     margin-top: -15vh;
}

.carousel-indicators li {
   width: 15px;
   height: 15px;
   margin-right: 5px;
   border-radius: 100%;
   opacity: 40%;
   background-color: var(--lGrey);
 }

 .carousel-indicators li.active {
   opacity: 100%;
   background-color: var(--lGrey);
 }

 a:hover, #navBar:hover {
     text-decoration: none;
     color: var(--dGrey);
 }

 .navIconSl {
    opacity: 75%;
    width: 20px;
    margin-left: 15px;
    margin-top: -2px;
}

.navIconSl:hover {
    opacity: 100%;
}

#inNav {
    padding-bottom: 4px;   
}

.carousel-caption {
    color: var(--dGrey);
    bottom:5vh;
}

h5 {
    font-size: calc(10px + 1vh);
}

@media only screen and (max-height: 580px) {
    h5 {
        font-size: 0;
    }
}
