
#siteStages {
    margin-left: 8vw;
    height: max(calc(90vh - 65px), 45vw);
    overflow: visible;
}

.siteimg {
    width: 50vw;
    position: absolute;
    top: calc(65px - 3vw);
    margin-left: 15vw;
    opacity: 0%;
    transition: 1s opacity;
}

#defaultimg {
    opacity: 100%;
}

#websiteHeadText {
    position: absolute;
    width: 100%;
    top: 37vw;
    text-align: center;
}

#websiteDesc {
    text-align: center;
    width: 100%;
}